@charset "UTF-8";

/* Media query para telas maiores */
@media (min-width: 700px) {
   #social-links {
    font-size: 32px;
   }
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Variáveis de tema */
:root {
    --text-color: white;
    --bg-url: url(imagens/bg-mobile.jpg);
    --stroke-color: rgba(255,255,255,0.5);
    --surface-color: rgba(255,255,255,0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255,255,255,0.2);
    --switch-bg-url: url(imagens/moon-stars.svg);
}

.light {
    --text-color: black;
    --stroke-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0,0,0,0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0,0,0,0.1);
    --bg-url: url(imagens/bg-mobile-light.jpg);
    --switch-bg-url: url(imagens/sun.svg);
}

/* Corpo da página */
body {
    background: var(--bg-url) no-repeat top center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
}

/* Perfil */
#profile {
    text-align: center;
    margin-bottom: 32px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* Switch de tema */
#switch {
    position: relative;
    width: 64px;
}
#switch button {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    transition: left 0.3s ease, right 0.3s ease, background 0.3s ease;
}
.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);         
}


/* Navegação */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}
.box {
    display: inline-block;
    width: 200px;
    border: 1px solid var(--stroke-color);
    border-radius: 0.5em;
    padding: 0.75em 0;
    background-color: var(--surface-color);
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.box:hover {
    background-color: var(--surface-color-hover);
}

/* Links sociais */
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s, transform 0.2s;
    border-radius: 50%;
}
#social-links a:hover {
    background: var(--highlight-color);
    transform: scale(1.1);
}

/* Rodapé */
footer {
    padding: 24px 0;
    font-size: 14px;
}
footer a {
    color: var(--text-color);
    text-decoration: underline;
}
